#top {
    
    position: relative;
    width:100%;
    height: 100px;
    vertical-align:middle;
}

#formulario{
   
    border:3px solid gray;
   border-radius:10px;
   padding:50px;
   line-height: 50px;
}
#general{
    margin-top: 100px;

    height:300px;
    
}
#titulo{
    text-align: center;
}
#foto{
    height: 100px;
}

#cont_delegar{
    position: relative;
    width:100%;
    height: 100px;
    
}
#term{
    text-align: center;
    margin-top: 20px;
}
#term1{
    text-align: justify;
}
.boton1{
    margin-top: auto;
}
#ContL{
    width: 18rem;
}
.nombre{
    text-align: center;
}
