
.online_icon{
    height: 15px;
    width:15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border:1.5px solid white;
}
.but1{
    margin: 5px 5px 5px 5px;
}
/*.containereditar{
    margin: 25px;
    align-items: center;
}*/